* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* COLORS */
  --bg-primary: #f4f5fb;
  --bg-secondary: #ffffff;

  --color-brand: #ca3884;
  --color-brand-hover: #a52c6b;
  --color-dange: #c93847;

  /* CONTENT */
  --content-primary: #080b12;
  --content-secondary: #374151;
  --content-tentiary: #9ca3af;
  --always-white: #ffffff;

  /* BORDER*/
  --border-primary: #d1d5db;
  --border-hover: #b9c2d0;

  /* FONT */
  --ff: "Inter", sans-serif;
  --title: 700 1.5rem var(--ff);
  --label: 500 1rem var(--ff);
  --paragraph: 400 1rem 20px var(--ff);
  --link: 0.875rem 16px var(--ff);
}
